on:
  workflow_call:
    inputs:
      refs:
        required: false
        type: string
      release-tag-name:
        required: true
        type: string
      push:
        required: true
        type: boolean
      skip-ci:
        required: false
        type: boolean
        default: false
env:
  PLATFORMS: linux/amd64,linux/arm64
  LIBVIRT_DEFAULT_URI: "qemu:///system"

jobs:
  ci:
    if: ${{ inputs.skip-ci == false }}
    runs-on:
      - self-hosted
      - golang
    steps:
      - name: Checkout code without refs
        if: ${{ inputs.refs == '' }}
        uses: actions/checkout@v4

      - name: Checkout code with refs
        if: ${{ inputs.refs != '' }}
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.refs }}

      - name: "Run validations"
        run: |
          make validate
          make validate-ci

      - name: "Build node manager"
        run: |
          BUILD_FOR_CI=true make

      - name: "Setup vagrant rancherd"
        run: |
          rm -rf nm-vagrant-rancherd
          git clone https://github.com/harvester/vagrant-rancherd nm-vagrant-rancherd
          cd nm-vagrant-rancherd
          cat ./settings.yaml
          echo "VAGRANT_RANCHERD_HOME=$(pwd)" >> $GITHUB_ENV
          ./new_cluster.sh

      - name: "Deploy latest node manager"
        run: |
          ./ci/deploy_nm.sh $VAGRANT_RANCHERD_HOME

      - name: "Upgrade node manager to dev version"
        run: |
          ./ci/upgrade_nm.sh $VAGRANT_RANCHERD_HOME

      - name: "Run integration tests"
        run: |
          VAGRANT_RANCHERD_HOME=$VAGRANT_RANCHERD_HOME go test -v ./tests/... -count=1

      - name: "Tear Down / Cleanup"
        if: always()
        run: |
          cd $VAGRANT_RANCHERD_HOME
          vagrant destroy -f --parallel

  dapper-build:
    needs: ci
    if: ${{ always() && inputs.push == true && (inputs.skip-ci == true || needs.ci.result == 'success') }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: ci
        run: make ci

      - name: Package
        run: make package

      - name: Package webhook
        run: make package-webhook

      - name: Read Secrets
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials username | DOCKER_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials password | DOCKER_PASSWORD

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: Docker Build node-manager
        uses: docker/build-push-action@v5
        with:
          provenance: false
          context: .
          platforms: ${{ env.PLATFORMS }}
          file: package/Dockerfile
          push: ${{ inputs.push }}
          tags: rancher/harvester-node-manager:${{ inputs.release-tag-name }}

      - name: Docker Build node-manager-webhook
        uses: docker/build-push-action@v5
        with:
          provenance: false
          context: .
          platforms: ${{ env.PLATFORMS }}
          file: package/Dockerfile.webhook
          push: ${{ inputs.push }}
          tags: rancher/harvester-node-manager-webhook:${{ inputs.release-tag-name }}
